.title {
    margin-left: 2rem;
    font-weight: bolder;
}

.description {
    margin: 1rem 3rem;
    color: #000000;
    font-weight: bold;
}

.li__item {
    margin-top: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

.li__item a:hover {
    color: yellow;
}
