.container-cards {
    width: 100vw;
    max-width: 100%;
    z-index: 4;
}

.card-header {
    color: white;
    font-size: 48px;
    font-weight: normal;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.technologies {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technology {
    width: 16.666%;
    height: 16.666vw;
    border: solid #0f9b8e 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    font-size: larger;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .technology {
        width: 25%;
        height: 25vw;
    }
}

@media screen and (max-width: 820px) {
    .technology {
        width: 33.333%;
        height: 33.333vw;
    }
}

@media screen and (max-width: 600px) {
    .technology {
        width: 100%;
        height: 100px;
    }
}
